* {
    margin: 0;
    padding: 0;
    text-indent: 0;
}

.pdfPage {
    padding-top: 26.834645669px;
    padding-bottom: 18.519685039px;
    padding-left: 58.582677165px;
    width: 816px;
    height: 1056px;
    border: 1px solid red;

}

.bottomPdf {
    display: flex;
    justify-content: space-between;
    width: 770px;
}

table {
    border: none;
}

.formTable {
    margin: 0;
    padding: 0;
}

.fill {
    padding-top: 3pt;
    padding-left: 3pt;
    padding-right: 4pt;
    text-indent: 0pt;
    text-align: left;
    color: rgb(39, 39, 191);
    font-size: 12px;
}

.fillNum {
    padding-left: 1pt;
    padding-top: 1pt;
    text-align: left;
    color: rgb(39, 39, 191);
    font-size: 12px;
}

.fillText {
    padding-top: 2pt;
    padding-left: 3pt;
    text-indent: 0pt;
    line-height: 10pt;
    text-align: left;
}

.fill-container {
    display: flex;
}

/*
.pdfPage {
    padding-right: 40.062992126px;
    margin-top: 0.71pt;
    margin-bottom: 0.49pt;
    margin-left: 1.55pt;
    margin-right: 1.06pt;
    width: 21.59pt;
    height: 27.94pt;
    border: 1px solid red;
}
*/

h1 {
    color: #f00;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 16pt;
}

.s1 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 11.5pt;
}

.s2 {
    color: #00f;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
    font-size: 11.5pt;
}

.s3 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 11.5pt;
}

.s5 {
    color: black;
    font-family: PMingLiU, serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

.s6 {
    color: #f00;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

.s7 {
    color: #f00;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 7pt;
}

.s8 {
    color: #f00;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 14pt;
}

.s9 {
    color: #f00;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 12pt;
}

.s10 {
    color: #f00;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 7pt;
}

.s11 {
    color: #f00;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

.s12 {
    color: #f00;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 8pt;
}

.s14 {
    color: #f00;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

.s15 {
    color: #f00;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 9pt;
}

.s16 {
    color: #f00;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 8pt;
}

.s17 {
    color: #f00;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 7pt;
}

.s18 {
    color: #f00;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

.s19 {
    color: #f00;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 7pt;
}

h4 {
    color: #f00;
    font-family: "Trebuchet MS", sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 11pt;
}

.s20 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

.s21 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 7pt;
}

.s22 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 14pt;
}

.s23 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 12pt;
}

.s24 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 7pt;
}

.s25 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

.s26 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 8pt;
}

.s28 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

.s29 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 9pt;
}

.s30 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 7pt;
    vertical-align: 1pt;
}

.s31 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
    vertical-align: 1pt;
}

.a,
a {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 7pt;
}

.s32 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 7pt;
}

.s33 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

h2 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 12pt;
}

.p,
p {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 8pt;
    margin: 0pt;
}

.s34 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    font-size: 8pt;
}

.s35 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 8pt;
}

.s36 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 8pt;
}

.s38 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 7pt;
}

.s39 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 8pt;
}

.s40 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

.s41 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

li {
    display: block;
}

#l1 {
    padding-left: 0pt;
}

#l1>li>*:first-child:before {
    content: "• ";
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

table,
tbody {
    vertical-align: top;
    overflow: visible;
}